        @font-face {
    font-family: VTFont;
    src: url(Raleigh.ttf);
}
@font-face {
    font-family: VTFont;
    src: url(Raleigh.ttf);
}
@font-face {
    font-family: SSP_Light;
    src: url(NordMedium.ttf);
}
@font-face {
    font-family: SSP_Regular;
    src: url(Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
h1, h2, h3, h4, h5 {
    font-weight: 500;
    font-family:'SSP_Light', sans-serif;
}
#page {
    /*background-color: #404039;*/
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    transition: 250ms linear all;
    font-family:'SSP_Light', sans-serif;
    min-height: 100%;
    position: relative;
    /*  font-family: source-sans-pro, helvetica, arial, sans-serif;*/
}
#upper_nav {
    width: 100%;
    height: 50px;
    background-color: #F9F9F9;
    z-index: 25;
    display: table;
    text-transform: uppercase;
}
.elevation_img {
    /*padding-bottom: 10px;*/
}
.rating {
    padding-top: 7px;
}
.thumbnails {
}
.thumbnails a {
    float: left;
    width: 100%;
    /*height: 100%;*/
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.thumbnails a img {
    width: 100%;
    filter: grayscale(100%);
    /*border-radius: 6px;*/
    /*border: 5px solid rgba(10, 10, 10, 0);*/
}
.col-centered {
    float: none;
    margin: 0 auto;
    overflow: auto;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.map {
    padding-top: 15px;
    /*padding-bottom: 15px;*/
    padding-right: 5px;
    padding-left: 1px;
}
.map img {
    width: 100%;
    max-height: 100%; 
}
.hidden {
    display: none;
}
.navbar-header {
    font-size: 28px;
    font-weight: 300!important;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #404039;
    height: 25px;
    /*top: 10px;*/
    margin-top: 6px;
    float: left;
    position: relative;
/*    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);*/
}
@media (min-width: 0px) and (max-width: 450px) {
    .navbar-header {
        margin-left: 5px !important;
    }
}
#school {
    font-size: 20px;
    font-family: VTFont;
    text-align: right;
    color: #993300;
    height: 25px;
    top: 30px;
    float: right;
    position: relative;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#school img {
    max-width: 150px;
}
#lower_nav {
    position: fixed;
    width: 100%;
    /*height: 50px;*/
    background-color: rgba(0,0,0,0);
    /*border-bottom: 1px solid #9C9C9C;*/
    z-index: 100;
    opacity: 1;
}
#nav_list_wrap {
    /*float: right;*/
    height: 100%;
    margin-bottom: 0px !important;
    display: table;
}
@media (min-width: 450px){
    #nav_list_wrap {
        float: right;
    }

}
.active {
    color: #980000 !important;
    font-weight: bold;
}
hr.underline {
    margin-top: -13px;
    margin-left: 13px;
    margin-right: 13px;
    border-color: black;
}
.unjust {
    text-align: left !important;
}
li {
    list-style: none;
    list-style-image: none;
}
.full {
    height: 100% !important;
}
.column {
    width: 1024px;
    margin: 0 auto;
    height: auto;
    padding: 0;
}
.nav_link {
    display: table-cell;
    vertical-align: middle;
    padding-left: 25px;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
}
a {
    color: #404039;
    text-decoration: none;
}
#content {
    /*background-image: url(../img/mbike/carvins_large.jpg);*/
    background-size: 100% auto;
    overflow: auto;
}
#content.column {
    height: auto;
}
.col-two {
}
#container_right {
    min-height: 100%;
    /*opacity: 0.8; */
    border-bottom: 1px solid #9C9C9C;
    margin:0 0 0 auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 50px;
}
#container_right h2, h1 {
    display: inline;
    padding-top: 25px;
}
.code {
    opacity: 0.5;
    display: inline;
}
.bullet {
    display: block;
    margin-bottom: -8px !important;
    margin-top: -4px !important;
    padding-left: 30px;
}
.mbikedetails {
    background-color:#eee;
}
.mbikedetails:first-child {
}
.mbikedetail {
    height: 70px;
    line-height: 100%;
    text-align: center;
    display: table;
    width: 100%;
    border-left: 1px solid #9C9C9C;
    border-right: 1px solid #9C9C9C;
    border-top: 1px solid #9C9C9C;
}
.mbikedetail p {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
}
.mbikedetail p strong {
    font-size: 20px;
    line-height: 100%;
}
.plus {
    padding-left:15px;
}
.plusgap {
    padding-bottom: 5px;
}
.two {
    display: inline !important;
}
.space {
    height: 30px;
}
.h_left hr {
    margin-bottom: 0px !important;
    margin-top: 2px !important;
}
.last {
    margin-bottom: 15px !important;
}
h1.code {
    font-size: 38px !important;
}
.bullet h1, h2, h3, h4, h5, h6 {
}
.h_left {
    padding-left: 50px;
    padding-top: 25px;
    padding-right: 50px;
}
.dev .h_left {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.p_left {
    text-align: justify;
    margin-left: 50px;
    letter-spacing: 0.1px !important;
    padding-top: 15px;
    margin-right: 50px;
}
#container_left {
    padding-left: 0px;
    padding-right: 0px;
}
#links h3 {
    display: inline;
    padding-top: 20px;
    color: #F9F9F9;
}
#links a {
    color: #F9F9F9;
}
#links a:hover {
    color: #980000;
    text-decoration: none;
}
.toggler {
    cursor: hand;
}
#links h1.code {
    color: #FAFAFA !important;
}
.newcol {
    padding: 0 0 0 0 !important;
    margin-left: 20px;
}
.mbike_img {
}
#container_left img {
    width: 90%;
    max-width: 350px;
    height: auto;
    margin-top: 25px;
    border: solid 2px #9C9C9C;
    opacity: 0.9;
}
/*-------------------------------Bike post style------------------------------------*/
 .bikepost {
    padding-top: 10px;
    padding-bottom: 50px;
    min-height: 350px;
}
.bikepost .head {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
.titles {
    position: relative;
}
.bikepost .head hr {
    margin-top: 3px;
    margin-bottom: 10px;
}
.bikecol {
    /*min-height: 360px;*/
}
.bikecol h2 {
    margin-bottom: 10px !important;
}
.hidden {
    display: none;
}
.mbikemap img {
    height: 210px;
    width: 100%;
}
.mbikenotes {
    height: 100px;
    background-color: #eee;
    border-left: 1px solid #9C9C9C;
    border-bottom: 1px solid #9C9C9C;
    border-right: 1px solid #9C9C9C;
    border-top :1px solid #9C9C9C;
}
.mbikenotes p {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.mbikemorepics {
    height: 70px;
    float: left;
}
.mbikeimg {
    height: 210px;
    width: auto;
}
.menworking {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display : block;
}
.devpost {
    padding-top: 10px;
    margin-bottom: 50px;
    padding-right: 40px;
    padding-left: 40px;
    min-height: 350px;
}
.devpost .head hr {
    margin-top: 3px;
    margin-bottom: 10px;
}
.devpost h1, h2, h3, h4 {
    margin-bottom: 10px;
}
.devpost li {
    padding-bottom: 10px;
    padding-right: 40px;
}
.vthacks {
    background-image: url(../img/vthacks.png);
    background-size: 100% auto;
}
.clearer {
    clear:both;
}
span.text-content {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: inline-block;
    height: calc(100% - 10px);
    left: 0;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 10px);
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
span.text-content span {
    padding-left: 5px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.thumbnails a:hover span.text-content {
    opacity: 1;
}
#back-top {
    position: fixed;
    display: none;
    bottom: 50px;
    right: 60px;
}
#back-top a {
    width: 50px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: #000;
}
/* arrow icon (span tag) */
 #back-top span {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 7px;
    background: url(../img/up-arrow.png) no-repeat center center;
    /* rounded corners */
    /*    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;*/
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover span {
    background-color: #888;
}
.date h3 {
    margin-top: 7px !important;
    position: relative; bottom: 0; right: 0;
}
/* Text Align classes */
 @media (max-width: 767px) {
    .text-left-xs {
        text-align: left;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-center-xs {
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-sm {
        text-align: left;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-center-sm {
        text-align: center;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-md {
        text-align: left;
    }
    .text-right-md {
        text-align: right;
    }
    .text-center-md {
        text-align: center;
    }
}
@media (min-width: 1200px) {
    .text-left-lg {
        text-align: left;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-center-lg {
        text-align: center;
    }
}
footer {
    display: table;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 0px;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    z-index: 1000;
    /*border-top: 1px solid #9C9C9C;*/
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#logo_bottom {
    top: 45% !important;
}
#copyright {
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
    color: white;
    top: 50%;
    float: right;
    position: relative;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.clearfooter {
    height: 0px;
    clear: both;
}

/* New stuff */
#main {
    height: 100%;   
}

#main.dev {
    background: url('/img/dev2_e.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#main.mbike {
    background: url('/img/mbike_back2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#main.resume {
    /*background: url('/img/bay.jpg') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media (min-width: 0px) and (max-width: 450px) {
    #main.home {
        background: url('/img/bay.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #main.home #lower_nav a {
        color: black;
    }
    #main.resume .icon-bar {
        background-color: white;
    }
}
#main.resume footer {
    background-color: rgba(0,0,0,0.85);
}
#main.resume #lower_nav {
    background-color: rgba(0,0,0,.85);
    border-bottom: 1px solid #9C9C9C;
}
#main.mbike #lower_nav a {
    color: black;
}
#main.dev .icon-bar {
    background-color: white;
}
#main #bgvid {
    position: fixed;
    right: 0;
    /*top: -200px;*/
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    /*background: url(/img/bay.jpg) no-repeat;*/
    background-size: cover;
}

.white-block {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top:0px;
    /*min-height: 100vh;*/
    /*padding-bottom: 100px;*/
/*    -moz-transform: skew(-15deg,0deg);
    -ms-transform: skew(-15deg,0deg);
    -o-transform: skew(-15deg,0deg);
    transform: skew(-15deg,0deg);*/
}
.white-block p {
    width: 400px;
    margin-left: 10px;
}
.white-block h1, .white-block h2, .white-block h3, .white-block div {
    color: white;
}
.white-block hr {
    margin-top: 0px;

}
.tall {
    position: relative;
    text-align: center;
    height: 95vh;
    margin-top: 50px;
}
.tall p {
    position: relative;
    font-size: 32px;
    margin-bottom: 0px;
}
.tall p:hover {
    text-decoration: none;
}
.top {
    background-color: black;
    height:100px;
}
#lower_nav a {
    color: black;
}
#lower_nav li.nav_link:hover {
    background-color: transparent !important;
    /*background-color: rgba(255,255,255,0.3);*/
}
.icon-bar {
    background-color: black;
}
.navbar {
    margin-bottom: 0px;
}
.navbar-toggle {
    margin-right: 5px;
    /*background-color: white;*/
}
#lower_nav a:hover {
    background-color: transparent !important;

    /*color: #555 !important;*/
    /*font-weight: bold;*/
    transition: 100ms linear all;
    text-decoration: none;
}
#lower_nav .container {
    height: 100%;
}
.about-me h1 {
    margin-top: 0px;
    display: block;
}
.about-me p {
    margin-bottom: 30px;
}
.about-me img {
    border: solid 2px white;
    height: 50px;
}
.white-block .container {
    height: 100%;
}
.white-block a:hover, .white-block a:focus {
    color: white;
    /*border-bottom: 1px solid white !important;*/
}
.white-block p {
    color: white;
}
.right-pic {
    position: relative;
    display: block;
}
.right-pic img {
    width: 90%;
    max-width: 400px;
    height: auto;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: solid 2px #9C9C9C;
    opacity: 0.9;
    /*float: right;*/
}
.adventures h1 {
    display: block;
}
.desc {
    position: absolute;
    color: black;
    left: 10%;
    top: 34%;
}

.desc-sm {
    position: absolute;
    left: 50%;
    margin-top: -50px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top: 50%;
}

.desc-middle {
    position: absolute;
    left: 50%;
    margin-top: -75px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top: 50%;
}
.down-arrow {
    height: 18px;
    width: auto;
    margin-left: 5px;
    margin-top: -0px;
    margin-bottom: 2px;
}
.down-arrow-lg {
    height: 25px;
    width: auto;
    margin-left: 5px;
    margin-bottom: 2px;
}
div, a, h1, h2, h3, h4, h5, p, h6, li {
    outline: 0 !important;
}

.tall .center {
    display: inline-block;
}
.clickable:hover {
    cursor: pointer;
}
.mbike-section h1 {
    margin-top: 0px;
    display: block;
}
.mbike-section img {
    margin-bottom: 25px;
}
.mbike-story {
    margin-bottom: 30px;
}
.mbike-thumb {
    height: 125px;
}
.dev li {
    color: white;
}
strong {
    color: white;
}
.inline {
    display: inline;
}
.mountain_clip {
    width: 100px;
    display: block;
    margin: auto;
}
.chip_icon {
    display: block;
    margin: auto;
    width: 150px;
}

.links {
    margin-top: 40px;
}

#show-more {
    display: block;
    color: white;
}