@font-face {
	font-family: VTFont;
	src: url(Raleigh.ttf);
}

h1, h2, h3, h4, h5 {
	margin: 0 0 0 0 !important;
	font-weight: 500;
}	

#page {
	background-color: #404039;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
	transition: 250ms linear all;
	font-family: source-sans-pro, helvetica, arial, sans-serif;
}

#upper_nav  {
	width: 100%;
	height: 50px;
	background-color: #F9F9F9;
	z-index: 25;
	display: table;
	text-transform: uppercase;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.logo {
	font-size: 25px;
	font-weight: 300!important;
	text-transform: uppercase;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	color: #404039;
	height: 25px;
	top: 60%;
	float: left;
	position: relative;
	-webkit-transform: translateY(-50%);
}

#school  {
	font-size: 20px;
	font-family: VTFont;
	text-align: right;
	color: #993300;
	height: 25px;
	top: 50%;
	float: right;
        position: relative;
        -webkit-transform: translateY(-50%);
}

#school img {
	max-width: 150px;
}

#lower_nav {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #F9F9F9;
	border-bottom: 1px solid #9C9C9C;
	z-index: 100;
	opacity: 1;
}

#nav_list_wrap {
	float: right;
	height: 100%;
	margin-bottom: 0px !important;
	display: table;
}

.active {
	color: #980000 !important;
}

.unjust {
	text-align: left !important;
}
li {
	list-style: none;
	list-style-image: none; 

}

.full {
	height: 100% !important;
}

.column {
	width: 1024px;
	margin: 0 auto;
	height: auto;
	padding: 0;
}

.nav_link {
	display: table-cell;
	vertical-align: middle;
	padding-left: 25px;
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
}

a {
	color: #404039;
	text-decoration: none;
}

a:hover {
	color: #980000;
	transition: 100ms linear all;
	text-decoration: none;
}

#content {
}

#content.column {
	height: auto;
}

.col-two {

}

#container_right {
	min-height: 100%;
	background-color: #F9F9F9;
	margin:0 0 0 auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 50px;
}


#container_right h2 {
	display: inline;
	padding-top: 25px;
}

.code {
	opacity: 0.5;
	display: inline;
}

.bullet {
	display: block;
	margin-bottom: -8px !important;
	margin-top: -4px !important;
	padding-left: 30px;
}

.mbikedetails {
	background-color:#eee;
}

.mbikedetails:first-child {
}

.mbikedetail {
	height: 70px;
	line-height: 100%;
	text-align: center;
	display: table;
	width: 100%;
	border-left: 1px solid #9C9C9C;
	border-right: 1px solid #9C9C9C;
	border-top: 1px solid #9C9C9C;
}

.mbikedetail p {
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
	text-align: center;
}
.mbikedetail p strong {
	font-size: 20px;
	line-height: 100%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.plus {
	padding-left:15px;
}

.two {
	display: inline !important;
}

.space {
	height: 30px;
}

.last {
	margin-bottom: 15px !important;
}

h1.code {
	font-size: 38px !important;
}

.bullet h1,h2,h3,h4,h5,h6 {
}

.h_left {
	padding-left: 75px;
	padding-top: 25px;
}

.p_left {
	text-align: justify;
	margin-left: 75px;
	letter-spacing: 0.1px !important;
	padding-top: 15px;
	margin-right: 75px;
}

#container_left {
	padding-left: 0px;
	padding-right: 0px;
}

#links h3 {
	display: inline;
	padding-top: 20px;
	color: #F9F9F9;
}

#links a {
	color: #F9F9F9;
}

#links a:hover {
	color: #980000;
	text-decoration: none;
}

.toggler {
	cursor: hand;
}

#links h1.code {
	color: #FAFAFA !important;	
}

.newcol {
	padding: 0 0 0 0 !important;
	margin-left: 20px;
}

.mbike_img {
}

#container_left img {
	width: 90%;
	max-width: 350px;
	height: auto;
	margin-top: 25px;
	border: solid 2px #9C9C9C;
	opacity: 0.9;
}

.bikepost {
	
}

.hidden {
	display: none;
}

.mbikemap img {
	height: 210px; 
	width: 100%;
}

.mbikenotes {
	height: 100px;
	background-color: #eee;
	border-left: 1px solid #9C9C9C;
	border-bottom: 1px solid #9C9C9C;
	border-right: 1px solid #9C9C9C;
	border-top :1px solid #9C9C9C;
}

.mbikenotes p {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;

}

.mbikemorepics {
	height: 70px;
	float: left;
}

.mbikeimg {
	height: 210px;
	width: auto;
}

.menworking {
	max-width: 50%;
	margin-left: auto;	
	margin-right: auto;
	display : block;
}

footer {
	display: table;
	height: 50px;
	margin-top: 0px;
	background-color: #F9F9F9;
	width: 100%;	
	z-index: 1000;
	border-top: 1px solid #9C9C9C;
}

html, body {
	height: 100%;
}

#logo_bottom {
	top: 45% !important;
}

#copyright {
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
	text-align: right;
	color: #404039;
	top: 50%;
	float: right;
        position: relative;
        -webkit-transform: translateY(-50%);
}

.clearfooter {
	height: 0px;
	clear: both;
}
	
