@font-face {
	font-family: VTFont;
	src: url(Raleigh.ttf);
}

h1, h2, h3, h4, h5 {
	margin: 0 0 0 0 !important;
	font-weight: 500;
}	

#page {
	background-color: #404039;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
	transition: 250ms linear all;
	font-family: source-sans-pro, helvetica, arial, sans-serif;
}

#upper_nav  {
	width: 100%;
	height: 50px;
	background-color: #F9F9F9;
	z-index: 25;
	display: table;
	text-transform: uppercase;
}

#logo {
	font-size: 25px;
	font-weight: 300!important;
	text-transform: uppercase;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	color: #404039;
	height: 25px;
	top: 60%;
	float: left;
	position: relative;
	-webkit-transform: translateY(-50%);
}

#school  {
	font-size: 20px;
	font-family: VTFont;
	text-align: right;
	color: #993300;
	height: 25px;
	top: 50%;
	float: right;
        position: relative;
        -webkit-transform: translateY(-50%);
}

#school img {
	max-width: 150px;
}

#lower_nav {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #F9F9F9;
	border-bottom: 1px solid #9C9C9C;
	z-index: 100;
	opacity: 1;
}

#nav_list_wrap {
	float: right;
	height: 100%;
	display: table;
}

.active {
	color: #980000 !important;
}

li {
	list-style: none;
	list-style-image: none; 

}

.column {
	width: 1024px;
	margin: 0 auto;
	height: 100%;
	padding: 0;
}

.nav_link {
	display: table-cell;
	vertical-align: middle;
	padding-left: 25px;
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
}

a {
	color: #404039;
	text-decoration: none;
}

a:hover {
	color: #980000;
	transition: 100ms linear all;
	text-decoration: none;
}

#content {
}

#content.column {
	height: 100%;
}

#container_right {
	display:block;
	width: 75%;
	min-height: 100%;
	background-color: #F9F9F9;
	margin:0 0 0 auto;
}


#container_right h2 {
	display: inline;
	padding-top: 25px;
}

.code {
	opacity: 0.5;
	display: inline;
}
h1.code {
	font-size: 38px !important;
}
.h_left {
	padding-left: 100px;
	padding-top: 25px;
}

.p_left {
	padding-left: 100px;
	letter-spacing: 0.1px !important;
	padding-top: 15px;
}

#container_left {
	float: left;
	display: block;
	width: 25%;
	min-height: 100%;
	margin: 0 0 auto;
}

#links h3 {
	display: inline;
	padding-top: 20px;
	color: #F9F9F9;
}

#links a {
	color: #F9F9F9;
}

#links a:hover {
	color: #980000;
	text-decoration: none;
}

.toggler {
	cursor: hand;
}

#links h1.code {
	color: #FAFAFA !important;	
}

#mbike_img {
	max-width: 225px !important;
}

#container_left img {
	max-width: 200px;
	margin-top: 25px;
	border: solid 2px #9C9C9C;
	opacity: 0.9;
}
